<?php
/**
 * Plugin Name:       {{title}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Requires at least: 5.8
 * Requires PHP:      7.0
 * Version:           {{version}}
{{#author}}
 * Author:            {{author}}
{{/author}}
 * Text Domain:       mx-blocks-plugin
 *
 * @package           mx-blocks-plugin
 */

function {{namespaceSnakeCase}}_{{slugSnakeCase}}_init() {
	register_block_type( __DIR__ );
}
add_action( 'init', '{{namespaceSnakeCase}}_{{slugSnakeCase}}_init' );
